@import 'foundation_settings';

// Layers
$zindex-modal: 1070;
$zindex-top: 1090;

// Layout
$max-content-width: 1650px;
$header-height: 64px;
$footer-height: 186px;

// Colors
$gray-base:             #000000;
$gray-50:               #fafafa;
$gray-100:              #f5f5f5;
$gray-200:              #eeeeee;
$gray-300:              #e0e0e0;
$gray-400:              #bbbbbb;
$gray-500:              #909090;
$gray-600:              #757575;
$gray-700:              #616161;
$gray-800:              #424242;
$gray-900:              #212121;

$light-gray: $gray-300;
$medium-gray: $gray-400;
$dark-gray: $gray-600;
$black: $gray-base;
$white: #ffffff;
$blue: #002449;
$blue-light: #3f74ab;
$green: #3adb76;
$light-green: #92E1C0;
$red: #f00;
$red-light: #F0B688;
$orange: #ffae00;

$body-font-color: $black;
$anchor-color: $black;
$anchor-color-hover: $body-font-color;

$breakpoints: (
  small: 0,
  medium: 768px,
  large: 900px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
$breakpoint-classes: (small medium large);

// Fonts
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-font-family-alt: 'Mikrqljaczumkazrygedjdtfcsx', $body-font-family;
$global-font-size: 13px;
$global-lineheight: 1.2;
$medium-font-size: 90%;
$small-font-size: 20px;

$paragraph-lineheight: $global-lineheight;
$list-lineheight: $paragraph-lineheight;

$header-font-family: $body-font-family;
$header-lineheight: $paragraph-lineheight;
$header-margin-bottom: rem-calc(10px);

$header-sizes: (
  small: (
    'h1': 13,
    'h2': 13,
    'h3': 13,
    'h4': 13,
    'h5': 13,
    'h6': 13,
  ),
  medium: (
    'h1': 13,
    'h2': 13,
    'h3': 13,
    'h4': 13,
    'h5': 13,
    'h6': 13,
  ),
);

// Buttons
$button-background: $gray-200;
$button-background-hover: scale-color($button-background, $lightness: -15%);
$button-color: $black;
$button-padding: 0.452em 1em;

// forms
$form-spacing: rem-calc(12);
$input-font-size: rem-calc(12);
