
.media-gallery {
    @include content-container;

    .media-gallery-item {
        position: relative;

        img {
            width: 100%;
        }

        .play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            line-height: 1;
            color: $white;

            .icon {
                font-size: 80px;
                line-height: 1;
            }
        }

        &:hover .play-button {
            color: $gray-500;
        }
    }

    @include breakpoint(small only) {
        padding-top: 30px;
        padding-bottom: 30px;

        .media-gallery-item {
            position: relative;
            user-select: none;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    // Masonry is used to render gallery items
    @include breakpoint(medium) {
        margin-top: -13px;
        padding: 0 8px 30px 8px;

        .media-gallery-item {
            width: 50%;
            padding: 13px;
            margin-bottom: -4px; // fixes space left by masonry

            img {
                display: block;
            }
        }
    }

    @include breakpoint(large) {
        .media-gallery-item {
            width: 33.3333%;
        }
    }

    @include breakpoint(1600px) {
        .media-gallery-item {
            width: 25%;
        }
    }
}
