// Variables
$mobile-header-height: 38px;
$zindex-header: 100;
$zindex-top: 110;

// Mixins

// Main content container
@mixin content-container {
    max-width: $max-content-width;
    margin: 0 auto;
    padding-left: 28px;
    padding-right: 28px;

    @include breakpoint(medium) {
        padding-left: 22px;
        padding-right: 22px;
    }
}

// Main layout
* {
    box-sizing: border-box;
}

body {
    background: $white;
    margin: 0;
    padding: 0;
}

body.modal-open {
    overflow-y: hidden;
}

// app root
#root {
    position: relative;
}

#main-layout {
    padding: 23px 26px;
    min-height: 100vh;

    @include breakpoint(small only) {
        padding-top: 60px;
    }
}

// loading spinner
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.loading-spinner {
    position: fixed;
    z-index: $zindex-top;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    animation: fade-in ease-in 1s;
}

// Site Header
#main-header {

    .main-title {
        margin-bottom: 18px;
        font-weight: bold;

        a {
            color: $body-font-color;
            background: transparent;
        }

        .section-title {
            display: none;
            font-weight: normal;
        }
    }

    // mobile
    @include breakpoint(small only) {
        position: relative;
        text-align: center;

        .main-title {
            position: fixed;
            z-index: $zindex-header;
            top: 0;
            left: 0;
            width: 100%;
            height: $mobile-header-height;
            margin: 0;
            background: $white;
            border-bottom: solid 1px $black;
            line-height: 1;

            a {
                display: block;
                padding: 12px 0 11px 0;
            }

            .site-title,
            .section-title {
                display: inline-block;
                vertical-align: middle;
            }

            .section-title {
                >span {
                    display: inline-block;
                    vertical-align: top;
                    white-space: nowrap;
                    max-width: calc(100vw - 240px);
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.15;
                }

                &:empty {
                    display: none;
                }

                &::before {
                    content: ' |';
                    padding: 0 8px;
                }

                &::after {
                    content: ' ';
                    display: inline-block;
                    vertical-align: middle;
                    width: 6px;
                    height: 6px;
                    margin-left: 9px;
                    position: relative;
                    top: -2px;
                    border: solid 1px $black;
                    border-top-width: 0;
                    border-left-width: 0;
                    transform: scaleX(0.9) rotate(45deg);
                }
            }
        }

        .header-navs {
            position: fixed;
            z-index: $zindex-header - 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: $white;

            .nav-container {
                width: 100%;
                max-height: calc(100vh - #{$mobile-header-height});
                display: flex;

                >* {
                    padding: 30px;
                    flex-grow: 1;

                    &:first-child {
                        flex-grow: 3;
                    }

                    &:not(:first-child) {
                        max-width: 50%;
                    }
                }
            }
        }

        // Hide/show state
        .header-navs {
            transition: 300ms;
        }

        &:not(.isOpen) {
            .header-navs {
                transform: translateY(-100%);
                z-index: -1;
            }
        }

        &.isOpen {
            .header-navs {
                transform: translateY(0);
            }

            .main-title {
                border-bottom-color: transparent;
            }

            .section-title {
                &::after {
                    transform: scaleX(0.9) rotate(-135deg);
                    top: 1px;
                }
            }
        }
    }

    // tablet / desktop
    @include breakpoint(medium) {
        position: fixed;
        z-index: $zindex-header;
        top: 0;
        left: 0;
        width: 200px;
        padding: 23px 10px 23px 26px;
    }
}

// Nav menus
.nav-menu {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            &.active {
                a {
                    color: $anchor-color-hover;
                    outline: none;
                }
            }
        }
    }

    a {
        display: inline-block;
        padding: 0 3px;

        &:focus:not(.active) {
            color: $anchor-color;
        }

        &.active {
            outline: none;
        }
    }

    @include breakpoint(small only) {
        ul {
            li {
                &:not(last-child) {
                    margin-bottom: 5px;
                }
            }
        }

        a {
            border: solid 1px $black;
        }
    }

    @include breakpoint(medium) {
        a {
            margin-left: -3px;  // counteract the 3px padding
        }
    }
}

// Main nav menu
.main-menu-nav {
    @include breakpoint(small only) {
        a {
            padding: 8px 10px;
        }
    }
}

// Sub-navs
.main-menu-subnav,
.sub-nav {
    margin-top: 20px;
    position: relative;

    @include breakpoint(small only) {
        margin-top: 0;
        padding-top: 0;

        a {
            padding: 8px 10px;
        }
    }
}

.main-menu-subnav {
    @include breakpoint(small only) {
        margin-top: 30px;
    }
}


// Sub-nav
.sub-nav {
    @include breakpoint(small only) {
        min-width: 25vw;

        .horizontal-links {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .horizontal-links {
            margin-left: -3px;  // counteract the 3px link padding
        }
    }
}

.horizontal-links {
    margin-bottom: 20px;

    a {
        display: inline-block;
        padding: 0 3px;
        margin: 0;
    }

    .sep {
        color: $anchor-color;
        padding: 0 2px;
    }
}


// Main content view
.main-view {
    @include breakpoint(medium) {
        margin-left: 260px;
    }

    @include breakpoint(large) {
        margin-left: 300px;
    }

    @include breakpoint(xlarge) {
        margin-left: 360px;
    }
}

.detail-view {
    .modal-close {
        display: none;
    }

    @include breakpoint(small only) {
        .modal-close {
            display: block;
        }
    }

}

// Homepage
#home-view {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: 100vh;
    cursor: pointer;
    user-select: none;
}

body.homepage-body {
}

.image-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

// Pages
.page-view {
    max-width: 1024px;
}

// Error view
.error-view {
}
