@import 'settings';

$link-background: #ffff00;

// Typographic mixins

@mixin body-type {
    font-size: $global-font-size;
}

@mixin small-type {
    font-size: $small-font-size;
}

// Typographic classes
.normal-type {
    @include body-type;
    line-height: $paragraph-lineheight;
}

// Color styles
.highlight {
    color: $red;
}

.standout {
    color: $red;
}

.quiet {
    color: $gray-500;
}

.muted {
    color: $gray-600;
}


// Default styles
body {
    @include body-type;
}

small {
    @include small-type;
}

// anchors
a {
    text-decoration: none;

    &:hover,
    &.active {
        color: $anchor-color-hover;
        background: $link-background;
    }
}

p a {
    color: $black;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}


// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
    font-weight: bold;
}

address {
    font-style: normal;
}

// Icons
.icon {
    display: inline-block;
    vertical-align: middle;
}

// Tables
table {
    border: 0;
    border-collapse: collapse;
    margin-bottom: $paragraph-margin-bottom;

    th,
    td {
        border: 0;
        vertical-align: top;
        padding: 0;
        margin: 0;
    }

    tr {
        th:first-child,
        td:first-child {
            width: 80px;
            padding-right: 12px;
        }
    }
}

// Buttons

// Forms

#{text-inputs()},
textarea {
}

label {
}

.button {
}
