@import 'settings';

.collection-list {
    margin-top: -23px;

    .collection-item {
        position: relative;
        padding-top: 23px;

        &:first-child {
            >h2 {
                top: 23px;
            }
        }

        &:not(.last-item) {
            padding-bottom: 9px;

            &::after {
                content: ' ';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                border-bottom: solid 1px $black;
            }
        }

        @include breakpoint(medium) {
            >h2 {
                width: 120px;
            }

            &:not(.last-item)::after {
                bottom: 6px;
                left: -120px;
                width: calc(100% + 120px - 30px);
            }
        }

        @include breakpoint(large) {
            >h2 {
                width: 120px;
            }

            &:not(.last-item)::after {
                left: -120px;
                width: calc(100% + 120px - 30px);
            }
        }

        @include breakpoint(xlarge) {
            >h2 {
                width: 200px;
            }

            &:not(.last-item)::after {
                left: -200px;
                width: calc(100% + 200px - 30px);
            }
        }
    }

    @include breakpoint(small only) {
        margin-top: -61px;
        padding-top: 38px;

        .collection-item {
            margin-top: -38px;
            padding-top: 38px + 20px;

            &:not(.last-item) {
                padding-bottom: 28px;
            }

            >h2 {
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }

    @include breakpoint(medium) {

        .collection-item {
            >h2 {
                position: absolute;
                top: 23px;
                left: 0;
                padding-right: 30px;
                transform: translateX(-100%);
                text-align: left;
                line-height: $global-lineheight;
            }
        }
    }
}

.exhibition-list {
    @include breakpoint(medium) {
        .collection-item >h2 {
            .title {
                font-style: italic;
            }
        }
    }
}
