
.exhibition-detail-view {
    .media-caption {
        p:last-child {
            &::before {
                content: '---';
                display: block;
                margin-top: 0 - $paragraph-margin-bottom;
            }

            @include breakpoint(small only) {

                br {
                }

                &::before {
                    display: none;
                }
            }
        }
    }
}
