
.image-list {
    position: relative;

    .image-item {
        display: block;
        width: 100%;
        cursor: pointer;
        background: transparent;

        img {
            width: 100%;
            height: auto;
            background: $gray-200;
        }

        &:hover {
            outline: solid 1px $black;
        }
    }

    @include breakpoint(small only) {
        .image-item:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    @include breakpoint(medium) {
        top: -15px;
        left: -15px;
        padding-top: 5px;

        .image-item {
            width: 50%;
            padding: 15px;
        }
    }

    @include breakpoint(large) {
        .image-item {
            width: 33.33%;
        }
    }

    @include breakpoint(xlarge) {
        .image-item {
            width: 25%;
        }
    }

    @include breakpoint(xxlarge) {
        .image-item {
            width: 20%;
        }
    }

    @include breakpoint(1900px) {
        .image-item {
            width: 16.66%;
        }
    }
}
