
.media-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $white;

    .media-view-slider {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .media-view-item {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: $white;
        transition: transform 0.45s;

        .media-content {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                display: block;
                max-width: 100%;
                max-height: 90%;
                width: auto;
                height: auto;
                user-select: none;
                object-fit: contain;
            }
        }

        &.type-video {
            .video-image {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .play-button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 100px;
                line-height: 1;
                color: $white;

                .icon {
                    font-size: 80px;
                    line-height: 1;
                }

                &:hover {
                    color: $gray-500;
                }
            }

            .video {
                position: relative;
                width: 100%;
                height: 100%;
                background: $black;

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .media-caption {
        *:last-child {
            margin-bottom: 0;
        }
    }


    .nav-prev,
    .nav-next {
        position: absolute;
        z-index: 10;
        cursor: pointer;
        color: $black;
        outline: none;
        user-select: none;

        &:hover {
            color: $gray-700;
        }
    }

    .nav-prev {
        left: 0;
    }

    .nav-next {
        right: 0;
    }

    &.single-item {
        .media-view-item {
            cursor: default;
        }

        .nav-prev,
        .nav-next,
        .nav-count {
            display: none;
        }
    }

    &.cursor-up {
        .media-view-item {
            cursor: n-resize;
        }

        .nav-prev {
            color: $gray-500;
        }
    }

    &.cursor-down {
        .media-view-item {
            cursor: s-resize;
        }

        .nav-next {
            color: $gray-500;
        }
    }

    // Mobile
    @include breakpoint(small only) {
        position: fixed;
        top: 38px;
        left: 0;
        width: 100%;
        height: calc(100vh - 38px);
        display: flex;
        flex-direction: column;
        padding: 20px 20px;

        .media-view-slider {
            height: auto;
            flex-grow: 2;
        }

        .media-view-item {
        }

        .media-caption {
            text-align: center;
        }

        .nav-prev,
        .nav-next {
            bottom: 0;
            padding: 0 20px 20px 20px;
            font-size: 28px;
        }

        .nav-count {
            display: none;
        }
    }

    // Tablet & up
    @include breakpoint(medium) {
        .media-view-item {
            padding: 30px 50px;
            transition: transform 0.5s;
        }

        .media-caption {
            position: fixed;
            z-index: 10;
            bottom: 0;
            left: 0;
            padding: 20px 0 20px 22px;
            width: 200px;
            max-height: 30vh;
            cursor: default;
            overflow-y: auto;

            p {
                line-height: $global-lineheight;
            }
        }

        .nav-prev,
        .nav-next {
            top: 30px;
            height: calc(100% - 116px);
            width: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 36px;
        }

        .nav-count {
            position: absolute;
            z-index: 9;
            bottom: 20px;
            right: 22px;
        }
    }

    @include breakpoint(large) {
        .media-view-item {
            padding: 30px 80px;
        }
    }

    @include breakpoint(medium) {
        padding-left: 180px;
    }

    @include breakpoint(large) {
        padding-left: 220px;
    }

    @include breakpoint(xlarge) {
        padding-left: 220px;
    }
}
