
.modal {
    .modal-close {
        position: fixed;
        z-index: $zindex-top;
        top: 0;
        right: 0;
        padding: 7px 12px;
        color: $black;
        font-size: 24px;
        user-select: none;
        outline: none;
    }
}
