
$spinner-bg: rgba(200, 200, 200, 0.3);
$spinner-fg: $black;

@mixin spinner($size: 60px, $border-width: 5px, $bg: $spinner-bg, $fg: $spinner-fg) {
    position: relative;
    text-indent: -9999em;
    border: $border-width solid $bg;
    border-left-color: $fg;
    transform: translateZ(0);
    animation: spin 1.1s infinite linear;

    &,
    &::after {
        border-radius: 50%;
        width: $size;
        height: $size;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    @include spinner();
}
