@import '../settings';
@import '../foundation/scss/foundation';

@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-visibility-classes;


@import '../typography';

body {
    margin: 4px;
    background: #ffffff;
    color: #000000;
}

table td,
table th {
    border: solid 1px #000000;
}
