{% load config cache static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% setting SITE TITLE %}{% endblock %}</title>
    <meta name="description" content="{% block meta-description %}{% setting SITE DESCRIPTION %}{% endblock %}" />
    <meta name="keywords" content="{% setting SITE KEYWORDS %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
    window.django_config = {
        debug: {{debug|yesno:"true,false"}},
        media_url: '{{MEDIA_URL}}',
        static_url: '{{STATIC_URL}}',
    };
    </script>

    {% block styles %}{% render_bundle 'main' 'css' %}{% endblock %}
</head>
<body>
{% block body %}<div id="root">{% block content %}{% endblock %}</div>{% endblock %}

<div id="outdated"></div>
<link rel="stylesheet" href="{% static 'assets/outdatedbrowser/outdatedbrowser.min.css' %}">
<script src="{% static 'assets/outdatedbrowser/outdatedbrowser.min.js' %}" type="text/javascript"></script>
<script>
    outdatedBrowser({
        bgColor: '#f25648',
        color: '#ffffff',
        lowerThan: 'transform',
        languagePath: '{% static 'assets/outdatedbrowser/lang/en.html' %}'
    });
</script>

{% render_bundle 'main' 'js' %}
</body>
</html>
